.display {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 70vh;
    height: 60vh;
    border: solid 1px black;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #f1f1f1;

}